<div class="container">
  <h1>My List</h1>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Add a task</h2>
    </div>
    <div class="panel-body">
      <%= render partial: 'form' %>
    </div>
  </div>
  
  <% if @tasks.length == 0 %>
    <p>You have no pending tasks.</p>
  <% else %>
    <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.name %>
        <%= button_to 'Edit', edit_task_path(task.id), method: :get %>
        <%= button_to 'Delete', task_path(task.id), method: :delete %>
        <%= button_to 'Completed', completed_task_path(task.id), method: :patch %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>