<div class="container">
  <h1>My List <span class="badge"><%= @tasks.count %></span></h1>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Add a task</h2>
    </div>
    <div class="panel-body">
      <%= render partial: 'form' %>
    </div>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="<%= completed_class(:pending) %>"><%= link_to 'Pending', tasks_path %></li>
    <li class="<%= completed_class(:completed) %>"><%= link_to 'Completed', tasks_path(completed: true) %></li>
  </ul>
  
  
  <% if @tasks.count == 0 %>
    <p class="message">You have no tasks.</p>
  <% else %>    
    <table class="table table-striped table-responsive tasks">
      <thead>
        <tr>
          <th class="<%= sort_class(:name) %>"><%= link_to 'Name', tasks_path(completed: params[:completed]) %></th>
          <th class="<%= sort_class(:due_date) %>"><%= link_to 'Due Date', tasks_path(sort: :due_date, completed: params[:completed]) %></th>
          <th class="priority <%= sort_class(:priority) %>"><%= link_to 'Priority', tasks_path(sort: :priority, completed: params[:completed]) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task.name, edit_task_path(task) %></td>
            
            <td>
              <% if task.due_date %>
                <% if task.due_date < Time.now %>
                  <span class="label label-danger"><%= time_ago_in_words task.due_date %> ago</span>
                <% else %>
                  <%= distance_of_time_in_words Time.now task.due_date %>
                <% end %>
              <% end %>
            </td>
            
            <td class="priority"><%= task.priority %></td>
            
            <td>
              <%= button_to 'Delete', task_path(task.id), method: :delete, class: 'btn btn-danger' %>
          
              <% if task.completed? %>
                <%= button_to 'Mark Incomplete', incomplete_task_path(task.id), method: :patch, class: 'btn btn-primary' %>
              <% else %>
                <%= button_to 'Mark Complete', completed_task_path(task.id), method: :patch, class: 'btn btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>