<div class="container">
  <h1>My List <span class="badge"><%= @tasks.count %></span></h1>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Add a task</h2>
    </div>
    <div class="panel-body">
      <%= render partial: 'form' %>
    </div>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="<%= completed_class(:pending) %>"><%= link_to 'Pending', tasks_path %></li>
    <li class="<%= completed_class(:completed) %>"><%= link_to 'Completed', tasks_path(completed: true) %></li>
    
    <% if @tasks.count > 0 %>
      <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Sort <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="<%= sort_class(:name) %>"><%= link_to 'Name', tasks_path %></li>
          <li class="<%= sort_class(:due_date) %>"><%= link_to 'Due Date', tasks_path(sort: :due_date) %></li>
          <li class="<%= sort_class(:priority) %>"><%= link_to 'Priority', tasks_path(sort: :priority) %></li>
        </ul>
      </li>
    <% end %>
  </ul>
  
  
  <% if @tasks.count == 0 %>
    <p>You have no tasks.</p>
  <% else %>    
    <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.name %><br>
        
        <% if task.due_date %>
          Due:
          <% if task.due_date < Time.now %>
            <span class="label label-danger"><%= time_ago_in_words task.due_date %> ago</span>
          <% else %>
            <%= distance_of_time_in_words Time.now task.due_date %>
          <% end %>
          <br>
        <% end %>
        
        <% if task.priority %>
          Priority: <%= task.priority %><br>
        <% end %>
        
        <div class="btn-group">
          <%= button_to 'Edit', edit_task_path(task.id), method: :get, class: 'btn btn-default' %>
          <%= button_to 'Delete', task_path(task.id), method: :delete, class: 'btn btn-default' %>
          
          <% if task.completed? %>
            <%= button_to 'Mark Incomplete', completed_task_path(task.id), method: :patch, class: 'btn btn-primary' %>
          <% else %>
            <%= button_to 'Mark Complete', completed_task_path(task.id), method: :patch, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>