<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if flash.any? %>
  <div class="container">
    <% flash.each do |type, message| %>
      <% bootstrap_class = {
        success: 'alert-success',
        notice: 'alert-info',
        alert: 'alert-warning',
        error: 'alert-danger'
      }[type] || type.to_s %>

      <div class="alert <%= bootstrap_class %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>

<%= yield %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
